.header {
  position: relative;

  height: 95vh;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.798),
      rgba($color-primary-dark, 0.798)
    ),
    url(/img/hero-small.jpg);
  background-position: top;
  background-size: cover;

  animation: headerPolygon 0.4s forwards 1.2s ease-out;

  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5.5rem;
  }

  &__logo {
    height: 4rem;
  }

  &-box {
    @include absCenter;

    text-align: center;
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.798),
        rgba($color-primary-dark, 0.798)
      ),
      url(/img/hero.jpg);
  }

  @media (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.798),
        rgba($color-primary-dark, 0.798)
      ),
      url(/img/hero.jpg);
  }
}
