@keyframes mymove {

  0% {
    padding: 0;
  }

  100% {
    padding: 3rem;
  }
}

@keyframes headerPolygon {

  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
}

@keyframes moveFromLeft {

  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveFromRigth {

  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveFromBottom {

  0% {
    transform: translatey(4rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-2rem);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
